{% extends 'base.html' %}

{% block nav %}
<a href="{{ url_for('login') }}">Login</a>
<a href="{{ url_for('sign_up') }}">Sign Up</a>
{% endblock %}

{% block body_id %}index{% endblock %}

{% block content %}
<h1>Demon Slayer</h1>
<p>Battle through 3 intense levels where dragons grow larger and your weapons get stronger. Conquer the final round, and enter an endless survival mode—how long can you last against the rising chaos? Controls: WASD/Arrow keys - movement, Spacebar - attack</p>
{% endblock %}